<!DOCTYPE html>
<html lang="en">
<head>

    <title>Agence de placement </title>
    <!-- Font Awesome Icons
            <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        -->
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="../css/creative.min.css" rel="stylesheet">
</head>
<body id="page-top">


    <!-- Navigation -->
    @using DataBaseConnection;
    @using DataBaseConnection.Table
    @using AgencePlacementUi.Class
    @{




        var data = new RefTableConnection();

        Candidat candidat = data.GetCandidat(int.Parse(Request.Params["name"]));
        Offer offer = data.GetOffer(int.Parse(Request.Params["offer"]));
        System.Diagnostics.Debug.WriteLine("name of post is: " + int.Parse(Request.Params["offer"]));
    }
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style=" background-color:cadetblue">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="index.cshtml">CYBERTECH</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.cshtml">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="account.cshtml">Login / Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead -->
    <header class="masthead" style="height:auto;">
        <button style="width:100%;" onclick="location.href='Employeur.cshtml?name=@int.Parse(Request.Params["name"])';">Retour</button>
        <br> <br> <br>
        <div class="row ">
            <div class="col-md-auto align-self-md-auto" style="width:10%"></div>
            <div class="col-md-auto align-self-md-auto" style="width:45%">



                <h2 style="color:white">@offer.data["nom"] </h2>
                <br />
                <p style="color:white">Description: @offer.data["descri"]</p>
               
                
                <p style="color:white">Région: @offer.data["region"]</p>

                
                
                <p style="color:white">Langue: @offer.data["langue"]</p>
                <p style="color:white">Expérience: @offer.data["experience_min"]</p>
                <p style="color:white">Salaire: @offer.data["salaire_min"]</p>
                <p style="color:white">Horaire: @offer.data["horaire"]</p>
                <button type="button" class="btn btn-default" style="background-color :cadetblue; color : white ;
                        border-color : black ; font-size : 15px" onclick="location.href='Employeur.cshtml?name=@int.Parse(Request.Params["name"])';">
                    Supprimer l'offre
                </button> <br> <br>

            </div>
            <div class="col-md-auto align-self-md-auto" style="width:45%">

                <h2 style="color:white;">@offer.data["application"] Applicant(s) :</h2>
                <br />
               


            </div>

        </div>
        <br /><br /><br /><br /><br /><br /><br /><br />
    </header>

    @{




    }
</body>
</html>


