<!DOCTYPE html>
<html lang="en">
<head>

    <title>Agence de placement </title>
    
    <link href="../css/creative.min.css" rel="stylesheet">
</head>
<body id="page-top">


    <!-- Navigation -->
    @using DataBaseConnection;
    @using DataBaseConnection.Table
    @using AgencePlacementUi.Class
    @{




        var data = new RefTableConnection();

        Candidat candidat = data.GetCandidat(int.Parse(Request.Params["name"]));
        Offer offer = data.GetOffer(int.Parse(Request.Params["offer"]));
        Employeur employeur = data.GetEmployeur(int.Parse(offer.data["id_employeur"]));
        bool buttonClicked = false;
    }
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style=" background-color:cadetblue">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="index.cshtml">CYBERTECH</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.cshtml">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="account.cshtml">Login / Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead -->
    <header class="masthead" style="height:auto;">
        <button style="width:100%;" onclick="location.href='candidat.cshtml?name=@int.Parse(Request.Params["name"])';">Retour</button>
        <br> <br> <br>
        <div class="row ">
            <div class="col-md-auto align-self-md-auto" style="width:10%"></div>
            <div class="col-md-auto align-self-md-auto" style="width:45%">



                <h2 style="color:white">@offer.data["nom"] </h2>
                <br />
                <p style="color:white">Description: @offer.data["descri"]</p>
                <p style="color:white">Poste: @offer.data["nom"]</p>
                <p style="color:white">Région: @offer.data["region"]</p>
                <p style="color:white">Langue: @offer.data["langue"]</p>
                <p style="color:white">Expérience: @offer.data["experience_max"] year(s)</p>
                <p style="color:white">Salaire: @offer.data["salaire_min"] - @offer.data["salaire_max"]</p>
                <p style="color:white">Horaire: @offer.data["horaire"]</p>


            </div>
            <div class="col-md-auto align-self-md-auto" style="width:45%">

                <h2 style="color:white;">Coordonnées de l'employeur :</h2>
                <br />
                <p style="color:white">Nom: @employeur.data["prenom"]  &nbsp; @employeur.data["nom"]</p>


                <p style="color:white">Description de l'entrprise: @employeur.data["entreprise_descri"] </p>
                <p style="color:white">Email: @employeur.data["email"] </p>
                <p style="color:white">Telephone: @employeur.data["telephone"] </p>
                <p style="color:white">Préférence: @data.GetFieldById(int.Parse(employeur.data["com_pref"]), "typecommunication") </p>

                <form name="application" class="text-white" method="post">

                    <input name="sub" type="submit" value="Apply" runat="server" onclick="Submit_Click()" class="btn btn-default"
                           style="background-color : cornflowerblue; color : white ;
border-color : black ; font-size : 15px; background-color:cadetblue" />
                    </form>

            </div>

        </div>
        <br /><br /><br /><br /><br /><br /><br /><br />
    </header>


        
         @{

             Requete requete = new Requete();
             MatchCandidat matchCandidat = new MatchCandidat();

             if (IsPost)
             {
                 
                 matchCandidat.data["id_offre"] = Request.Params["offer"];
                 matchCandidat.data["id_candidat"] = Request.Params["name"];
                 matchCandidat.data["nb_critere"] = "5";
                 matchCandidat.data["id_communication"] = "1";

                 requete.InsertCorrespondant(matchCandidat);

                 Response.Redirect("candidat.cshtml?name=" + int.Parse(Request.Params["name"]) + "&offer=" + int.Parse(Request.Params["offer"]));
             }
             
    }
</body>
</html>

